
  <template id="vue-app">  
    <div>
        <h1>Data from API</h1>
        <table class="table">
        <thead>
            <tr>
            <th>ID</th>
            <th>title</th>
            <th>body</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(data, index) in dataArr" :key="data.id">
            <td>{{"{{ data.id }}"}}</td>
            <td>{{ "{{data.title}}" }}</td>
            <td>{{ "{{data.body}}" }}</td>
            </tr>
        </tbody>
        </table>
    </div>
  </template>
